@tailwind base;
@tailwind components;
@tailwind utilities;

.ppp {
    background-image: url("./assets/Hack JKLU White Poster.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* min-height: 20vh; */
}